spring:

  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    url: jdbc:postgresql://localhost:5432/ch_ids_dev_db
    username: ch_ids_dev_user
    password: dbhunter_dev
    driver-class-name: org.postgresql.Driver

kafka:
  bootstrap-servers: localhost:9092

