services:

  minio:
    image: minio/minio:latest
    container_name: coursehub-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"
    networks:
      - coursehub-net

  redis:
    image: redis:latest
    container_name: coursehub-redis
    ports:
      - "6380:6379"
    networks:
      - coursehub-net

networks:
  coursehub-net:
    external: true
