spring:

  application:
    name: api-gateway

  cloud:
    gateway:

      # CORS-u aktiv edir (WebFlux üçün mütləqdir)
      globalcors:
        add-to-simple-url-handler-mapping: true

        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - "*"
            allowCredentials: true

      # İki dəfə CORS header yazılmasının qarşısını alır (Chrome error-nu həll edir)
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE

server:
  port: 8080
